@model UserStore.WEB.Models.ContentModelOutPut
@{
    ViewBag.Title = "Content Page";
}
@{
    Html.EnableUnobtrusiveJavaScript(true);
}
@if (Model != null)
{
<div class="row content-box-2">
    
    <div class="col-md-12 bg-content">
        
            <div class="row bg-content-header @Model.Type">
                <div class="col-md-12 content-header-align">
                    @if (Model.Name != "")
                    {
                        <h3> @Html.ActionLink(Model.Name, "Index", new { types = ViewBag.Types, page = 1, filter = "name", value = Model.Name })</h3>
                    }
                </div>
            </div>
            <div class="row ">
                
                @foreach (var li in Model.Images)
                {
                    if (li != null)
                    {
                        <div class="col-md-4 img-2">
                            @Html.Partial("ContentImage", li)
                        </div>
                    }

                }
                
                    <div class="col-md-8 table-body">
                        
                            <div class="table-row Properties-bg-1">
                                <div class="table-cell">
                                    @Html.LabelFor(x => Model.Directors)
                                </div>
                                <div class="table-cell">
                                    @foreach (var li in Model.Directors)
                                    {
                                        if (li != "")
                                        {

                                            <span>
                                                @Html.ActionLink(li, "Index", new { types = ViewBag.Types, page = 1, filter = "director", value = li }, new { @class = "btn btn-default" })
                                            </span>
                                        }
                                    }
                                </div>
                            </div>




                            <div class="table-row Properties-bg-1">
                                <div class="table-cell">
                                    @Html.LabelFor(x => Model.Writers)
                                </div>
                                <div class="table-cell">
                                    @foreach (var li in Model.Writers)
                                    {
                                        if (li != "")
                                        {
                                            <span> @Html.ActionLink(li, "Index", new { types = ViewBag.Types, page = 1, filter = "scenarist", value = li }, new { @class = "btn btn-default" })</span>
                                        }
                                    }
                                </div>
                            </div>


                            <div class="table-row Properties-bg-1">
                                <div class="table-cell">
                                    @Html.LabelFor(x => Model.Genres)
                                </div>
                                <div class="table-cell">
                                    @foreach (var li in Model.Genres)
                                    {
                                        if (li != "")
                                        {
                                            <span>@Html.ActionLink(li, "Index", new { types = ViewBag.Types, page = 1, filter = "genre", value = li }, new { @class = "btn btn-default" })</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class=" table-row Properties-bg-1">
                                @if (Model.Language != "")
                                {
                                    <span class="table-cell">
                                        @Html.LabelFor(x => Model.Language)
                                    </span>

                                    <span class="table-cell">
                                        @Html.ActionLink(Model.Language, "Index", new { types = ViewBag.Types, page = 1, filter = "language", value = Model.Language }, new { @class = "btn btn-default" })
                                    </span>
                                }
                            </div>
                            <div class=" table-row Properties-bg-1">
                                @if (Model.Transletor != "")
                                {
                                    <span class="table-cell">
                                        @Html.LabelFor(x => Model.Transletor)
                                        </span>

                                        <span class="table-cell">
                                        @Html.ActionLink(Model.Transletor, "Index", new { types = ViewBag.Types, page = 1, filter = "transletor", value = Model.Transletor }, new { @class = "btn btn-default" })
                                    </span>
                                }
                            </div>
                            <div class=" table-row Properties-bg-1">
                                @if (Model.Year != "")
                                {
                                    <span class="table-cell">
                                    @Html.LabelFor(x => Model.Year)
                                        </span>
                                    <span class="table-cell">
                                        @Html.ActionLink(Model.Year, "Index", new { types = ViewBag.Types, page = 1, filter = "year", value = Model.Year }, new { @class = "btn btn-default" })
                                    </span>
                                }
                            </div>
                        
                    
                    <div>
                        @if (User.Identity.IsAuthenticated && Model.Path != "")
                        {
                            @Html.ActionLink("Download", "Download", new { name = Model.Name, filePath = Model.Path }, new { @class = "btn btn-default" })
                        }
                    </div>

                </div>


            </div>

        <div class="row ">
            <div class="col-md-4">
                <div class="row Vote">
                    <div class="Vote-Cell col-md-3">
                        <span class="VoteUp">
                            @Html.Label(Model.VoteUp.ToString())
                            @Html.LabelFor(x => Model.VoteUp)
                        </span>
                        </div>
                        <div class="Vote-Cell col-md-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>
                                    @Ajax.ActionLink("Up", "DisplayFullContent", new { id = Model.Id },
       new AjaxOptions
       {
           UpdateTargetId = Model.Id.ToString(),
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           Url = Url.Action("MakeVote", "Home", new { user = User.Identity.Name, vote = 1, id = Model.Id })

       }, new { @class = "btn btn-default" })
                                </span>
                            }
                        </div>
                    <div class="Vote-Cell col-md-3">
                        <span class="VoteDown">
                            @Html.Label(Model.VoteDown.ToString())
                            @Html.LabelFor(x => Model.VoteDown)
                        </span>
                        </div>
                    <div class="Vote-Cell col-md-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>
                                @Ajax.ActionLink("Down", "DisplayFullContent", new { id = Model.Id },
       new AjaxOptions
       {
           UpdateTargetId = Model.Id.ToString(),
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           Url = Url.Action("MakeVote", "Home", new { user = User.Identity.Name, vote = -1, id = Model.Id })

       }, new { @class = "btn btn-default" })
                            </span>

                        }
                    </div>
                        </div>
                

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @if (User.IsInRole("admin"))
                        {
                            if (Model.Check == "Not Checked")
                            {
                                <span>
                                    @Ajax.ActionLink("Check", "DisplayFullContent", new { id = Model.Id, types = ViewBag.Types, page = ViewBag.Page, filter = ViewBag.Filter, value = ViewBag.Value },
                               new AjaxOptions
                               {
                                   UpdateTargetId = Model.Id.ToString(),
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "Post",
                                   Url = Url.Action("MakeCheck", "Home", new { id = Model.Id, check = 2 })
                               }, new { @class = "btn btn-default" })
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Ajax.ActionLink("UnCheck", "DisplayFullContent", new { id = Model.Id, types = ViewBag.Types, page = ViewBag.Page, filter = ViewBag.Filter, value = ViewBag.Value },
                               new AjaxOptions
                               {
                                   UpdateTargetId = Model.Id.ToString(),
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "Post",
                                   Url = Url.Action("MakeCheck", "Home", new { id = Model.Id, check = 1 })
                               }, new { @class = "btn btn-default" })
                                </span>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        @if (User.IsInRole("admin"))
                        {
                            <div>
                                <span>

                                    @Html.ActionLink("Update", "UpdateContent", new { Id = Model.Id }, new { @class = "btn btn-default" })
                                </span>
                                <span id="@Model.Id.ToString()-delete">
                                    @Ajax.ActionLink("Delete", "Index", new { types = ViewBag.Types, page = ViewBag.Page, filter = ViewBag.Filter, value = ViewBag.Value },
                               new AjaxOptions
                               {
                                   Confirm = "Delete file?",
                                   UpdateTargetId = "Home",
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "Post",
                                   Url = Url.Action("DeleteContent", "Home", new { id = Model.Id, check = 3 })
                               }
                               , new { @class = "btn btn-default" }
                                   )

                                </span>
                            </div>
                        }
                    </div>
                    

                </div>

            </div>
        </div>
        <div class="row video-1">
            <div class="col-md-6 col-lg-offset-3">
                @if (Model.Type == "Video")
                {
                    <video id="@Model.Path" width=480 height=360 preload="none" controls="controls">
                        <source src="@Url.Action("GetVideo", "Home", new { Model.Path })" type='video/webm; codecs="vp8, vorbis"' /> HTML5 Video not supported!
                    </video>
                }
                else if (Model.Type == "Audio")
                {
                    <audio id="@Model.Path" preload="none" controls="controls">
                        <source src="~/AppContent/@Model.Path" type="audio/mp3">
                    </audio>
                }
            </div>
        </div>

    </div>
        
</div>
}



